<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Creative Teams |</title>

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="css/maicons.css" />

    <link rel="stylesheet" href="/vendor/animate/animate.css" />

    <link
      rel="stylesheet"
      href="/vendor/owl-carousel/css/owl.carousel.min.css"
    />

    <link rel="stylesheet" href="/css/bootstrap.css" />

    <link rel="stylesheet" href="/css/mobster.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <script src="/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/1437bce5af.js"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-color: #797979;
        font-family: "Poppins", sans-serif;
      }

      .main {
        background-color: #f5f5fb;
        width: 100vw;
        height: 100vh;
        display: block;
      }

      .left_nav {
        width: 20vw;
        height: 100vh;
        background-color: #fefefe;
        border-radius: 35px 0px 0px 35px;
      }

      .left_nav h4 {
        margin-top: 30px;
        margin-left: 60px;
        padding: 10px;
      }

      .left_nav ul {
        margin-right: 30px;
        float: right;
        margin-top: 20px;
        list-style: none;
        padding: 30px;
      }

      .left_nav ul li {
        margin-top: 40px;
        font-size: 18px;
        color: #a2a2c2;
      }

      .left_nav ul li :hover {
        font-size: 19px;
        font-weight: bold;
        color: #a2a2c2;
      }

      .left_nav ul li a {
        text-decoration: none;
        color: #a2a2c2;
      }

      i {
        margin-left: 10px;
        margin-right: 10px;
        color: #a2a2c2;
      }

      .right_nav {
        height: 100vh;
        background-color: #fefefe;
        border-radius: 0px 35px 35px 0px;
      }

      .main_content {
        min-width: 60vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid main">
      <div class="row">
        <div class="col left_nav">
          <h4>Creative Teams</h4>
          <ul>
            <li>
              <a href="#"
                ><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-calendar" aria-hidden="true"></i>Meetings</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-phone-square" aria-hidden="true"></i> Calls
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-calendar-plus-o" aria-hidden="true"></i
                >Schedule
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cogs" aria-hidden="true"></i>Settings
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-user" aria-hidden="true"></i>Profile</a
              >
            </li>
          </ul>
        </div>
        <div class="col main_content"></div>
        <div class="col right_nav"></div>
      </div>
    </div>

    <script src="/js/jquery-3.5.1.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <script src="/vendor/wow/wow.min.js"></script>

    <script src="/js/mobster.js"></script>
  </body>
</html>
